@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin xflex($jc) {
  //x ღერძი to be specified (justify-content)
  display: flex;
  justify-content: $j;
  align-items: center;
}

@mixin yflex($ai) {
  //y ღერძი to be specified (align-items)
  display: flex;
  justify-content: space-between;
  align-items: $ai;
}

@mixin xyflex($jc, $ai) {
  // ორივე ღერძი არასტანდარტულია
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
