@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "FiraGo";
  src: url("./font/FiraGO-Regular.otf") format("opentype");
}
body {
  font-family: "FiraGo", sans-serif;
  background-color: #f9fafc;
}

/* საერთო გამოყენების კლასები

*  .container – თქვენ კლასთან ერთად ამასაც დაადებთ. + Responsive
* .card-shadow – მესამე სექციის ქარდებისთვის.
* text style- ები  */
.swiper .swiper-wrapper .swiper-slide .info .info-content .slider-text {
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 0.35px;
}

.swiper .swiper-buttons {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.35px;
}

header .header-bottom .header-bottom-nav, header .header-top .header-top-search-burger h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.24px;
}

.swiper .swiper-wrapper .swiper-slide .info .info-content .article-label span, .swiper .swiper-wrapper .swiper-slide .info .info-content .article-label {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.container {
  max-width: 1312px;
  width: 100%;
  margin: auto;
}

.card-shadow {
  background-color: rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}

.header-shadow {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

header .header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
header .header-top .header-top-socials {
  display: flex;
  gap: 8px;
}
header .header-top .header-top-logo {
  color: #ff3b30;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.36px;
  font-weight: 600;
}
header .header-top .header-top-search-burger {
  display: flex;
  align-items: center;
  gap: 16px;
}
header .header-top .header-top-search-burger .header-top-search {
  display: flex;
  align-items: center;
  width: 304px;
  background-color: #edf0f7;
  border-radius: 10px;
  padding: 4px 4px 4px 16px;
  justify-content: space-between;
}
header .header-top .header-top-search-burger .search-icon-mobile {
  display: none;
}
header .header-top .header-top-search-burger .burger-icon {
  display: none;
  width: 48px;
  height: 48px;
}
header .header-top .header-top-search-burger .burger-icon img {
  width: 100%;
  height: 100%;
}
header .header-top .header-top-search-burger h4 {
  color: #4a5468;
}
header .header-bottom {
  background-color: #e2e7f0;
  padding: 16px 0;
}
header .header-bottom .header-bottom-nav {
  color: #4a5468;
}
header .header-bottom .header-bottom-nav .header-bottom-list {
  display: flex;
  justify-content: space-between;
}
header .header-bottom .header-bottom-nav .header-bottom-list li a {
  text-decoration: none;
  color: #4a5468;
}
header .header-bottom .header-bottom-nav .header-bottom-list li a:hover {
  color: #ff3b30;
}
header .header-bottom .header-bottom-nav .header-bottom-list .more-dropdown {
  position: relative;
}
header .header-bottom .header-bottom-nav .header-bottom-list .more-dropdown a {
  display: flex;
  align-items: center;
  gap: 8px;
}
header .header-bottom .header-bottom-nav .header-bottom-list .more-dropdown a:hover {
  color: #ff3b30;
}
header .header-bottom .header-bottom-nav .header-bottom-list .more-dropdown .dropdown-list {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  padding: 24px 16px;
  background-color: #ffffff;
  top: 100%;
  left: -40px;
  transition: all 0.3s ease;
  z-index: 100;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
header .header-bottom .header-bottom-nav .header-bottom-list .more-dropdown .dropdown-list li {
  padding: 4px 0;
}
header .header-bottom .header-bottom-nav .header-bottom-list .more-dropdown .dropdown-list li a {
  color: #4a5468;
}
header .header-bottom .header-bottom-nav .header-bottom-list .more-dropdown .dropdown-list li a:hover {
  color: #ff3b30;
}
header .header-bottom .header-bottom-nav .header-bottom-list .more-dropdown:hover .dropdown-list {
  visibility: visible;
  opacity: 1;
  transform: translateY(16px);
}

.swiper {
  position: relative;
  max-height: 760px;
  margin: auto;
  margin-top: 48px;
}
.swiper .swiper-wrapper .swiper-slide {
  position: relative;
}
.swiper .swiper-wrapper .swiper-slide .swiper-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-wrapper .swiper-slide .info {
  padding: 29px 24px 0 24px;
  transform: none;
  position: absolute;
  left: 24px;
  bottom: 24px;
  background-color: white;
  width: 600px;
  height: 280px;
  border-radius: 10px;
  box-sizing: border-box;
}
.swiper .swiper-wrapper .swiper-slide .info .info-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 150px;
}
.swiper .swiper-wrapper .swiper-slide .info .info-content .article-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.swiper .swiper-wrapper .swiper-slide .info .info-content .article-label .topic {
  color: #ff3b30;
  font-weight: 600;
}
.swiper .swiper-wrapper .swiper-slide .info .info-content .article-label .date {
  font-weight: 400;
  color: #4a5468;
}
.swiper .swiper-buttons {
  position: absolute;
  bottom: 53px;
  left: calc(1.8292682927% + 24px);
  width: 113px;
  height: 40px;
  border-radius: 8px;
  padding: 0px 8px;
  background-color: #edf0f7;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center !important;
  z-index: 2;
}
.swiper .swiper-buttons .swiper-button-prev,
.swiper .swiper-buttons .swiper-button-next {
  position: static;
  margin: 0;
  display: flex;
  background-color: #edf0f7;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper .swiper-buttons .swiper-button-prev img,
.swiper .swiper-buttons .swiper-button-next img {
  width: 14px;
  height: 10px;
}
.swiper .swiper-buttons .swiper-button-next {
  transform: scaleX(-1);
}
.swiper .swiper-buttons .swiper-button-prev::after,
.swiper .swiper-buttons .swiper-button-next::after {
  display: none;
}

@media screen and (max-width: 1240px) {
  .container {
    max-width: 1128px;
  }
  .swiper {
    max-width: 1128px;
    max-height: 700px;
    margin: auto;
    margin-top: 32px;
  }
  .swiper .swiper-wrapper .swiper-slide .info {
    position: absolute;
    width: 95.7446808511%;
    height: 246px;
    padding-top: 32px;
    left: 50%;
    transform: translateX(-50%);
  }
  .swiper .swiper-wrapper .swiper-slide .info .large-screen-only {
    display: none;
  }
  .swiper .swiper-buttons {
    left: calc(2.1276595745% + 24px);
    bottom: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 928px;
  }
  header .header-top .header-top-socials {
    display: none;
  }
  header .header-top .header-top-logo {
    font-size: 24px;
  }
  header .header-top .header-top-search-burger {
    position: relative;
  }
  header .header-top .header-top-search-burger .burger-icon {
    display: block;
  }
  header .header-top .header-top-search-burger .burger-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    padding: 16px;
    width: 100vw;
    flex-direction: column;
    gap: 8px;
    z-index: 100;
  }
  header .header-top .header-top-search-burger .burger-menu.active {
    display: flex;
  }
  header .header-top .header-top-search-burger .burger-menu .burger-menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 114px;
  }
  header .header-top .header-top-search-burger .burger-menu .burger-menu-list a {
    color: #000000;
    text-decoration: none;
  }
  header .header-top .header-top-search-burger .burger-menu .burger-menu-list a:hover {
    color: #ff3b30;
  }
  header .header-bottom {
    display: none;
  }
  .swiper {
    max-width: 928px;
    min-height: 560px;
    margin: auto;
    margin-top: 16px;
  }
  .swiper .swiper-wrapper .swiper-slide .info {
    position: absolute;
    width: 94.8275862069%;
    height: 158px;
    min-height: 158px;
    padding: 24px;
    left: 50%;
    transform: translateX(-50%);
  }
  .swiper .swiper-buttons {
    left: 2.5917926566%;
    top: 24px;
    background-color: #ffffff;
  }
}
@media screen and (max-width: 360px) {
  .container {
    max-width: 328px;
  }
  header .header-top .header-top-logo {
    font-size: 16px;
  }
  header .header-top .header-top-search-burger {
    gap: 12px;
  }
  header .header-top .header-top-search-burger .header-top-search {
    display: none;
  }
  header .header-top .header-top-search-burger .search-icon-mobile {
    display: block;
  }
  header .header-top .header-top-search-burger .burger-icon {
    width: 40px;
    height: 40px;
  }
  header .header-top .header-top-search-burger .burger-menu-list {
    padding-left: 50px !important;
  }
  .swiper {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .swiper .swiper-wrapper .swiper-slide {
    border-radius: none;
  }
  .swiper .swiper-wrapper .swiper-slide .info {
    position: static;
    left: auto;
    transform: none;
    padding: 16px;
    width: 100%;
    height: auto;
  }
  .swiper .swiper-wrapper .swiper-slide .info .info-content {
    max-width: 328px;
    gap: 8px;
    min-height: 122px;
  }
  .swiper .swiper-wrapper .swiper-slide .info .info-content .slider-text {
    font-size: 16px;
    line-height: 24px;
  }
  .swiper .swiper-buttons {
    width: 91.1111111111%;
    height: 32px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
  }
  .swiper .swiper-buttons div {
    background-color: #ffffff;
    width: 32px;
    height: 32px;
  }
  .swiper .swiper-buttons .slider-count {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */