@import "./reset";
@font-face {
  font-family: "FiraGo";
  src: url("./font/FiraGO-Regular.otf") format("opentype");
}
@import "./variables";
@import "./mixins";

body {
  font-family: "FiraGo", sans-serif;
  background-color: $background-grey;
}

/* საერთო გამოყენების კლასები

*  .container – თქვენ კლასთან ერთად ამასაც დაადებთ. + Responsive
* .card-shadow – მესამე სექციის ქარდებისთვის.
* text style- ები  */

//Font Size  @extend %სახელი - ით გამოვიძახებთ

%headline1 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 0.35px;
}

%headline2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.35px;
}

%body-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

%header-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.24px;
}

%headline3 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

%small-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

// ყველა სექციისთვის ერთი და იგივე კლასი

.container {
  max-width: 1312px;
  width: 100%;
  margin: auto;
}

//მესამე სექციის ქარდებისთვის ეს კლასი გამოიყენე - Drop shadow

.card-shadow {
  background-color: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(40px);
}

// ეს ჩემთვის ჰედერში - Drop shadow

.header-shadow {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
}

//header

header {
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    .header-top-socials {
      display: flex;
      gap: 8px;
    }

    .header-top-logo {
      color: $primary-color;
      font-size: 28px;
      line-height: 34px;
      letter-spacing: 0.36px;
      font-weight: 600;
    }
    .header-top-search-burger {
      display: flex;
      align-items: center;
      gap: 16px;

      .header-top-search {
        display: flex;
        align-items: center;
        width: 304px;

        background-color: $light-grey;
        border-radius: 10px;
        padding: 4px 4px 4px 16px;
        justify-content: space-between;
      }

      .search-icon-mobile {
        display: none;
      }

      .burger-icon {
        display: none;
        width: 48px;
        height: 48px;
        img {
          width: 100%;
          height: 100%;
        }
      }

      h4 {
        color: $dark-grey;
        @extend %header-text;
      }
    }
  }

  .header-bottom {
    background-color: $low-dark-grey;
    padding: 16px 0;

    .header-bottom-nav {
      color: $dark-grey;
      @extend %header-text;

      .header-bottom-list {
        display: flex;
        justify-content: space-between;

        li {
          a {
            text-decoration: none;
            color: $dark-grey;

            &:hover {
              color: $primary-color;
            }
          }
        }

        //dropdown
        .more-dropdown {
          position: relative;

          a {
            display: flex;
            align-items: center;
            gap: 8px;

            &:hover {
              color: $primary-color;
            }
          }

          .dropdown-list {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            padding: 24px 16px;
            background-color: $white;
            top: 100%;
            left: -40px;
            transition: all 0.3s ease;
            z-index: 100;
            border-radius: 8px;
            backdrop-filter: blur(20px);

            li {
              padding: 4px 0;

              a {
                color: $dark-grey;

                &:hover {
                  color: $primary-color;
                }
              }
            }
          }

          &:hover .dropdown-list {
            visibility: visible;
            opacity: 1;
            transform: translateY(16px);
          }
        }
      }
    }
  }
}

//responsive

@media screen and (max-width: 1240px) {
  .container {
    max-width: 1128px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 928px;
  }

  header {
    .header-top {
      .header-top-socials {
        display: none;
      }

      .header-top-logo {
        font-size: 24px;
      }

      .header-top-search-burger {
        position: relative; //burger icones gamo

        .burger-icon {
          display: block;
        }

        .burger-menu {
          display: none;
          position: absolute;
          top: 100%;
          right: 0;
          background-color: $white;
          padding: 16px;
          width: 100vw;
          flex-direction: column;
          gap: 8px;
          z-index: 100;

          &.active {
            display: flex;
          }

          .burger-menu-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding-left: 114px;

            a {
              color: $text-color;
              text-decoration: none;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
    }

    .header-bottom {
      display: none;
    }
  }
}

@media screen and (max-width: 360px) {
  .container {
    max-width: 328px;
  }

  header {
    .header-top {
      .header-top-logo {
        font-size: 16px;
      }

      .header-top-search-burger {
        gap: 12px;
        .header-top-search {
          display: none;
        }
        .search-icon-mobile {
          display: block;
        }
        .burger-icon {
          width: 40px;
          height: 40px;
        }

        .burger-menu-list {
          padding-left: 50px !important;
        }
      }
    }
  }
}
